// sidebar
// 文字
$menuText:#bfcbd9;
// 背景
$menuBg:#20222a;
// 激活的背景色
$menuActiveBg:#1c608db7;
$subMenuActiveText:#fff;
$menuHover:#263445;
$subMenuBg:#1f2d3d;
$subMenuHover:#001528;
$sideBarWidth: 210px;

:export {
  menuText: $menuText;
  menuActiveBg: $menuActiveBg;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
